<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/Salespage.master"
    CodeFile="SalesCorporateModule.aspx.cs" Inherits="SalesCorporateModule" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<%@ Register Assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    Namespace="System.Web.UI" TagPrefix="ajax" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder_Page" runat="Server">

    <script src="../JQuery/jquery-1.4.min.js" type="text/javascript"></script>

    <script src="../JQuery/moment.js" type="text/javascript"></script>

    <script src="../JQuery/ui.core.js" type="text/javascript"></script>

    <script src="../JQuery/ui.datepicker.js" type="text/javascript"></script>

    <script src="../ScriptsReveal/jquery.reveal.js" type="text/javascript"></script>

    <script type="text/javascript">
    $(function()
    {  
        $("#<%=txtLocalInfluencerMobile.ClientID%>").keyup(function ()
        {
            alert("tere");
       
        });
         
         $("#<%=bntViewDetails.ClientID%>").click(function()
         {
          $("#detailShow").slideToggle( "slow" );
         });    
          
       
          
    });
    
    </script>

    <asp:UpdatePanel ID="UpdatePanel1" runat="server">
        <ContentTemplate>
            <table cellpadding="0" cellspacing="0" style="width: 100%">
                <tr>
                    <td align="center">
                        <b style="font-size: medium;">Sales Corporate Module</b>&nbsp;
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <asp:Label ID="lblMsg" runat="server" ForeColor="red"></asp:Label>
                    </td>
                </tr>
            </table>
            <br />
            <center>
                <table cellpadding="10" cellspacing="0" border="1" width="60%">
                    <tr>
                        <td style="white-space: nowrap">
                            <b>Company Name</b></td>
                        <td style="white-space: nowrap">
                            <asp:DropDownList ID="ddlClientName" runat="server" OnSelectedIndexChanged="ddlClientName_SelectedIndexChanged" AutoPostBack ="true" >
                            </asp:DropDownList>
                            <asp:RequiredFieldValidator ID="rfvClientName" runat="server" ControlToValidate="ddlClientName"
                                ErrorMessage="*" ForeColor="red" Display="Static" InitialValue="0"></asp:RequiredFieldValidator>
                        </td>
                        <td style="white-space: nowrap">
                            <b>Account Type</b>
                        </td>
                        <td>
                            <asp:DropDownList ID="ddlAccountType" runat="server" >
                                <asp:ListItem Text="--Select--" Value="0"></asp:ListItem>
                                <asp:ListItem Text="Local Decent" Value="Local Decent"></asp:ListItem>
                                <asp:ListItem Text="HQ" Value="HQ"></asp:ListItem>
                                <asp:ListItem Text="Network" Value="Network"></asp:ListItem>
                            </asp:DropDownList>
                            <asp:Label ID="lblAccountType" runat="server" Visible="false" ForeColor="red"></asp:Label>
                            <asp:RequiredFieldValidator ID="rfvAccountType" runat="server" ControlToValidate="ddlAccountType"
                                ErrorMessage="*" ForeColor="red" Display="Static" InitialValue="0"></asp:RequiredFieldValidator>
                        </td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap">
                            <b>Head Quarter</b>
                        </td>
                        <td>
                            <asp:DropDownList ID="ddlHQ" runat="server">
                            </asp:DropDownList>
                            <asp:RequiredFieldValidator ID="rfvHQ" runat="server" ControlToValidate="ddlHQ" ErrorMessage="*"
                                ForeColor="red" Display="Static" InitialValue="0"></asp:RequiredFieldValidator>
                            <br />
                            <asp:Label ID="lblddlHQ1" runat="server" Visible="false" ForeColor="red"></asp:Label>
                            <br />
                            <asp:Label ID="lblddlHQ2" runat="server" Visible="false" ForeColor="red"></asp:Label>
                            <br />
                            <asp:Label ID="lblddlHQ3" runat="server" Visible="false" ForeColor="red"></asp:Label>
                        </td>
                        <td style="white-space: nowrap">
                            <b>Signed by</b>
                        </td>
                        <td>
                            <asp:DropDownList ID="ddlSigned" runat="server">
                            </asp:DropDownList>
                            <asp:RequiredFieldValidator ID="rfvddlSigned" runat="server" ControlToValidate="ddlSigned"
                                ErrorMessage="*" ForeColor="red" Display="Static" InitialValue="0"></asp:RequiredFieldValidator><br />
                            <asp:Label ID="lblSingedByHQ" runat="server" Visible="false" ForeColor="red"></asp:Label><br />
                            <asp:Label ID="lblSingedByLocal" runat="server" Visible="false" ForeColor="red"></asp:Label><br />
                            <asp:Label ID="lblSingedByNetwork" runat="server" Visible="false" ForeColor="red"></asp:Label>
                        </td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap">
                            <b>Local Influencer</b>
                        </td>
                        <td>
                            <asp:DropDownList ID="ddlLocalInf" runat="server" OnSelectedIndexChanged="ddlLocalInf_SelectedIndexChanged"
                                AutoPostBack="true">
                                <asp:ListItem Text="--Select--" Value="0"></asp:ListItem>
                                <asp:ListItem Value="Yes" Text="Yes"></asp:ListItem>
                                <asp:ListItem Value="No" Text="No"></asp:ListItem>
                            </asp:DropDownList>
                            <asp:RequiredFieldValidator ID="rfvddlLocalInf" runat="server" ControlToValidate="ddlLocalInf"
                                ErrorMessage="*" ForeColor="red" Display="Static" InitialValue="0"></asp:RequiredFieldValidator><br />
                            <asp:Label ID="lblLocalInf1" runat="server" Visible="false" ForeColor="red"></asp:Label><br />
                            <asp:Label ID="lblLocalInf2" runat="server" Visible="false" ForeColor="red"></asp:Label><br />
                            <asp:Label ID="lblLocalInf3" runat="server" Visible="false" ForeColor="red"></asp:Label>
                        </td>
                        <td style="white-space: nowrap">
                            <b>Monthly Potential</b>
                        </td>
                        <td>
                            <asp:TextBox ID="txtMonthlyPotential" runat="Server"></asp:TextBox>
                            <asp:RequiredFieldValidator ID="rfvMonthlyPotential" runat="server" ControlToValidate="txtMonthlyPotential"
                                ErrorMessage="*" ForeColor="red" Display="Static"></asp:RequiredFieldValidator>
                            <asp:RegularExpressionValidator runat="server" ID="rexNumber" ControlToValidate="txtMonthlyPotential"
                                ValidationExpression="^[0-9]$" ErrorMessage="Please enter  number!" /><br />
                            <asp:Label ID="lblMonthlyPotential1" runat="server" Visible="false" ForeColor="red"></asp:Label><br />
                            <asp:Label ID="lblMonthlyPotential2" runat="server" Visible="false" ForeColor="red"></asp:Label><br />
                            <asp:Label ID="lblMonthlyPotential3" runat="server" Visible="false" ForeColor="red"></asp:Label>
                        </td>
                    </tr>
                    <tr id="trLocalInfluencerName" runat="server" visible="false">
                        <td style="white-space: nowrap">
                            <b>Local Influencer Name</b>
                        </td>
                        <td>
                            <asp:TextBox runat="server" ID="txtLocalInfluencerName"></asp:TextBox><br />
                            <asp:Label ID="lblLocalInfluencerName1" runat="server" Visible="false" ForeColor="red"></asp:Label><br />
                            <asp:Label ID="lblLocalInfluencerName2" runat="server" Visible="false" ForeColor="red"></asp:Label><br />
                            <asp:Label ID="lblLocalInfluencerName3" runat="server" Visible="false" ForeColor="red"></asp:Label>
                        </td>
                        <td style="white-space: nowrap">
                            <b>Local Influencer Mobile No</b>
                        </td>
                        <td>
                            <asp:TextBox runat="server" ID="txtLocalInfluencerMobile"></asp:TextBox><br /><br />
                            <asp:Label ID="lblLocalInfluencerMobile1" runat="server" Visible="false" ForeColor="red"></asp:Label><br />
                            <asp:Label ID="lblLocalInfluencerMobile2" runat="server" Visible="false" ForeColor="red"></asp:Label><br />
                            <asp:Label ID="lblLocalInfluencerMobile3" runat="server" Visible="false" ForeColor="red"></asp:Label>
                        </td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap">
                            <b>Local Account Mgr</b>
                        </td>
                        <td>
                            <asp:DropDownList ID="ddlLocalAccountManager" runat="server" Width="200px">
                            </asp:DropDownList>
                            <asp:RequiredFieldValidator ID="rfvLocalAccountManager" runat="server" ControlToValidate="ddlLocalAccountManager"
                                ErrorMessage="*" ForeColor="red" Display="Static" InitialValue="0"></asp:RequiredFieldValidator><br />
                            <asp:Label ID="lblLocalAccountManager1" runat="server" Visible="false" ForeColor="red"></asp:Label><br />
                            <asp:Label ID="lblLocalAccountManager2" runat="server" Visible="false" ForeColor="red"></asp:Label><br />
                            <asp:Label ID="lblLocalAccountManager3" runat="server" Visible="false" ForeColor="red"></asp:Label>
                        </td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap">
                            <b>Implant</b>
                        </td>
                        <td>
                            <asp:ListBox ID="ddlImplant" runat="server" Width="200px" OnSelectedIndexChanged="ddlImplant_SelectedIndexChanged"
                                SelectionMode="Multiple" AutoPostBack="true" Rows="5"></asp:ListBox>
                            <br />
                            <br />
                            <asp:TextBox runat="server" ID="txtImplant" Visible="false" placeholder="Login id"></asp:TextBox><br />
                            <asp:Label ID="lblImplant1" runat ="server" Visible ="false" ForeColor ="red" ></asp:Label><br />
                            <asp:Label ID="lblImplant2" runat ="server" Visible ="false" ForeColor ="red"></asp:Label><br />
                            <asp:Label ID="lblImplant3" runat ="server" Visible ="false" ForeColor ="red" ></asp:Label>
                        </td>
                        <td style="white-space: nowrap">
                            <b>Competitor</b>
                        </td>
                        <td>
                            <asp:ListBox ID="ddlCompetitor" runat="server" OnSelectedIndexChanged="ddlCompetitor_SelectedIndexChanged"
                                AutoPostBack="true" SelectionMode="Multiple" Rows="5"></asp:ListBox>
                            <br />
                            <br />
                            <asp:TextBox runat="server" ID="txtCompetitor" Visible="false" placeholder="New competitor"></asp:TextBox><br />
                            <asp:Label ID="lblCompetitor1" runat ="server" Visible ="false" ForeColor ="red" ></asp:Label><br />
                            <asp:Label ID="lblCompetitor2" runat ="server" Visible ="false" ForeColor ="red" ></asp:Label><br />
                            <asp:Label ID="lblCompetitor3" runat ="server" Visible ="false" ForeColor ="red" ></asp:Label>
                        </td>
                    </tr>
                </table>
                <br />
                <table cellpadding="5" cellspacing="0" border="0">
                    <tr>
                        <td style="white-space: nowrap">
                            <asp:Button ID="btnSubmit" runat="server" Text="Add / Edit" CausesValidation="true" OnClick="btnSubmit_Click" />
                        </td>
                        <td>
                            <asp:Button ID="bntViewDetails" runat="server" Text="Veiw Details" CausesValidation="false"
                                OnClick="bntViewDetails_Click" />
                        </td>
                    </tr>
                </table>
                <div id="detailShow" >
                    <asp:GridView ID="gvShowDetails" runat="server" AutoGenerateColumns="false">
                        <Columns>
                            <asp:BoundField DataField="clientconame" HeaderText="Company Name" />
                            <asp:BoundField DataField="AccountType" HeaderText="Account Type" />
                            <asp:BoundField DataField="HeadQuarter" HeaderText="Head Quarter" />
                            <asp:BoundField DataField="Signedby" HeaderText="Signed by" />
                            <asp:BoundField DataField="LocalInfluencer" HeaderText="Local Influencer" />
                            <asp:BoundField DataField="MonthlyPotential" HeaderText="Monthly Potential" />
                            <asp:BoundField DataField="LocalInfluencerName" HeaderText="Local Influencer Name" />
                            <asp:BoundField DataField="LocalInfluencerMobileNo" HeaderText="Local Influencer Mobile No" />
                            <asp:BoundField DataField="AccountMgr" HeaderText="Local Account Mgr" />
                            <asp:BoundField DataField="ImplantName" HeaderText="Implant" />
                            <asp:BoundField DataField="CompetitorName" HeaderText="Competitor" />
                        </Columns>
                    </asp:GridView>
                </div>
            </center>
        </ContentTemplate>
    </asp:UpdatePanel>
</asp:Content>
