<%@ Master Language="C#" AutoEventWireup="true" CodeFile="CRDMasterpage.master.cs"
    Inherits="CRDMasterpage" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script language="javascript" type="text/javascript">
function frmReset()
{
var vform = document.getElementById("<%=form1.ClientID %>");
vform.reset();   

}
function WinRefresh()
{
    var vform = document.getElementById("<%=form1.ClientID %>");
    vform.submit();
}
</script>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Insta : CRM</title>
    <link href="App_Themes/stylesheet/HertzInt.css" rel="stylesheet" type="text/css" />
        <link href="DatePickerCSS/ui.all.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
        <asp:ScriptManager ID="ScriptManager1" runat="server">
        </asp:ScriptManager>
        <table width="99%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td colspan="1" style="width: 15%">
                        <img src="../App_Images/logo_carzonret.gif" alt="Image" />
                    </td>
                    <td width="76%" colspan="1">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td width="95%" align="center" bgcolor="#cccccc" style="height: 16px; font-family: Verdana;
                                        font-size: 8pt">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" bgcolor="#cccccc" colspan="11">
                                        <a href="http://insta.carzonrent.com/index/index.asp"><b>Back to Insta</b></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="http://Insta.Carzonrent.com"><b>Logout</b></a></td>
                                </tr>
                                <tr>
                                    <td class="topnav">
                                        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                                            <asp:Menu ID="mnuTop" runat="server" CssClass="topnav" EnableTheming="True" Orientation="Horizontal"
                                                SkipLinkText="" Width="543px" StaticTopSeparatorImageUrl="~/App_Images/separator.gif">
                                                <StaticMenuStyle CssClass="orngCopy" />
                                                <StaticMenuItemStyle CssClass="orngCopy" />
                                                <DynamicHoverStyle BackColor="#D7F8FD" />
                                                <DynamicMenuItemStyle BackColor="White" />
                                            </asp:Menu>
                                            <asp:Panel ID="Panel1" runat="server">
                                            </asp:Panel>
                                        </asp:ContentPlaceHolder>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td colspan="2">
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <br />
                        <br />
                        <br />
                    </td>
                </tr>
                <tr>
                    <td colspan="4" valign="top">
                        <asp:ContentPlaceHolder ID="ContentPlaceHolder_Page" runat="server">
                        </asp:ContentPlaceHolder>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                    </td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</body>
</html>
