<%@ Page Language="VB" AutoEventWireup="false" CodeFile="CustErr.aspx.vb" Inherits="CustErr" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Easycabs : Error Page</title>
</head>
<body topmargin="0" style="color: #000000; text-align: center;" bgcolor="#ffffff">
    <form id="form1" runat="server">
        <span style="font-size: 4pt">
            <br />
        </span>
        <strong><span style="font-size: 36pt"><span style="font-size: 16pt"> <span style="color: #0000cc">
            </span></span></span></strong>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <img src="App_Images/Problems.png" />&nbsp;<br />
        Unexpected error occured ...!!!<br />
        Please contact TMS admin at tms@easycabs.com.<br />
        <br />
    </form>
</body>
</html>
