<%@ Page Language="C#" MasterPageFile="~/CRDMasterPage.master" AutoEventWireup="true"
    CodeFile="TripsCsat.aspx.cs" Inherits="TripsCsat" Title="Untitled Page" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder_Page" runat="Server">

    <script type="text/jscript" src="../App_Scripts/JScript_ModalPopupAlwaysYes.js">
    </script>

    <asp:Label ID="Label1" runat="server" Text="" SkinID="HeadingTop"></asp:Label>
    <table style="font-size: 10pt; font-family: Tahoma">
        <tr>
            <td style="color: #990000">
                CSAT For</td>
            <td>
                :</td>
            <td>
                <asp:DropDownList ID="ddlCsatFor" runat="server" AutoPostBack="True" OnSelectedIndexChanged="ddlCsatFor_SelectedIndexChanged">
                    <asp:ListItem Value="2">CRD LIMO</asp:ListItem>
                    <asp:ListItem Value="1">CRD</asp:ListItem>
                    <asp:ListItem Selected="True" Value="3">CRD TRIPS</asp:ListItem>
                </asp:DropDownList>
            </td>
        </tr>
    </table>
    <table width="90%">
        <tr>
            <td>
                <fieldset class="FieldsetClassic">
                    <legend class="LegendClassic">Customer Info </legend>
                    <table width="100%" style="font-size: 9pt; font-family: Tahoma" cellspacing="0">
                        <tr>
                            <td align="left" colspan="7" style="font-weight: bold; background-color: white">
                                <table width="100%">
                                    <tr>
                                        <td style="width: 180px">
                                            &nbsp;&nbsp;
                                        </td>
                                        <td>
                                            <asp:Label ID="lblMonthlyTarget" runat="server" Text=""></asp:Label></td>
                                        <td>
                                            <asp:Label ID="lblMonthlyCompleted" runat="server" Text=""></asp:Label></td>
                                        <td>
                                            <asp:Label ID="lblTodayTarget" runat="server" Text=""></asp:Label></td>
                                        <td>
                                            <asp:Label ID="lblTodayCompleted" runat="server" Text=""></asp:Label></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color: tan;" align="left">
                                Caller No</td>
                            <td align="left" style="background-color: tan">
                                &nbsp;
                                <asp:Label ID="lblCallerNo" runat="server" Font-Size="Large" ForeColor="Green"></asp:Label></td>
                            <td style="font-weight: normal; background-color: tan;" align="left">
                                Cust. Name:</td>
                            <td align="left" style="font-weight: bold; background-color: tan">
                                <asp:Literal ID="ltrlCustomerName" runat="server"></asp:Literal></td>
                            <td style="font-weight: normal; background-color: tan;" align="right">
                                Pickup On:</td>
                            <td align="left" colspan="2" style="font-weight: normal; background-color: tan">
                                <asp:Literal ID="ltrlJobDate" runat="server"></asp:Literal>
                                JobID :<asp:Literal ID="ltrlJobID" runat="server"></asp:Literal></td>
                        </tr>
                        <tr>
                            <td align="left" colspan="3" style="font-weight: bold">
                                Pickup From :</td>
                            <td align="left" colspan="4" style="font-weight: bold">
                                Drop At :</td>
                        </tr>
                        <tr>
                            <td align="left" colspan="3" style="font-weight: bold">
                                <asp:TextBox ID="txtFrom" runat="server" Rows="4" TextMode="MultiLine" Width="272px"></asp:TextBox>
                            </td>
                            <td align="left" colspan="4" style="font-weight: bold">
                                <asp:TextBox ID="txtTo" runat="server" Rows="4" TextMode="MultiLine" Width="272px"></asp:TextBox></td>
                        </tr>
                        <tr>
                            <td align="left" style="font-weight: normal; background-color: tan;">
                                CabID:</td>
                            <td align="left" style="font-weight: bold; background-color: tan">
                                <asp:Literal ID="ltrlCabId" runat="server"></asp:Literal></td>
                            <td align="left" style="background-color: tan;">
                                Chauffeur Name:</td>
                            <td align="left" style="background-color: tan">
                                &nbsp;<asp:Literal ID="ltrlChauffName" runat="server"></asp:Literal></td>
                            <td align="left" style="background-color: tan;">
                                Chauff Contact:</td>
                            <td align="left" style="background-color: tan">
                                <asp:Literal ID="ltrlChauffCont" runat="server"></asp:Literal></td>
                            <td align="right" style="background-color: tan">
                                <asp:Button ID="btnSkip" runat="server" ForeColor="#C00000" Text="Skip" Width="117px"
                                    OnClick="btnSkip_Click" /></td>
                        </tr>
                        <tr>
                            <td align="center" colspan="7" style="font-weight: bold; color: #ff0000">
                                &nbsp;&nbsp;
                                <asp:Literal ID="ltrlMsg" runat="server"></asp:Literal></td>
                        </tr>
                    </table>
                </fieldset>
            </td>
        </tr>
        <tr>
            <td>
                <fieldset class="FieldsetClassic">
                    <legend class="LegendClassic">Questionnaire</legend>
                    <table width="100%" style="font-size: 9pt; font-family: Tahoma">
                        <tr>
                            <td colspan="3">
                                <table width="100%">
                                    <tr>
                                        <td>
                                            <table width="100%">
                                                <tr>
                                                    <td style="text-align: left">
                                                        <asp:GridView ID="gvQuestion" runat="server" Width="100%" AutoGenerateColumns="False"
                                                            BackColor="LightGoldenrodYellow" BorderColor="Tan" BorderWidth="1px" CellPadding="2"
                                                            DataSourceID="ODS_For_gvQuestion" ForeColor="Black" GridLines="None">
                                                            <FooterStyle BackColor="Tan" />
                                                            <Columns>
                                                                <asp:BoundField DataField="Question" HeaderText="Question" />
                                                                <asp:TemplateField HeaderText="Answer">
                                                                    <EditItemTemplate>
                                                                        <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
                                                                    </EditItemTemplate>
                                                                    <ItemTemplate>
                                                                        <asp:RadioButtonList ID="rdblAnswer" runat="server" RepeatDirection="Horizontal"
                                                                            CellSpacing="1" CellPadding="10">
                                                                            <asp:ListItem Value="1">Yes</asp:ListItem>
                                                                            <asp:ListItem Value="2">No</asp:ListItem>
                                                                            <asp:ListItem Value="3" Selected="True">Not Ans</asp:ListItem>
                                                                        </asp:RadioButtonList>
                                                                        <asp:Label ID="lblQID" runat="server" Text='<%# Bind("QuestID") %>' Visible="False"></asp:Label>
                                                                    </ItemTemplate>
                                                                </asp:TemplateField>
                                                            </Columns>
                                                            <PagerStyle BackColor="PaleGoldenrod" ForeColor="DarkSlateBlue" HorizontalAlign="Center" />
                                                            <SelectedRowStyle BackColor="DarkSlateBlue" ForeColor="GhostWhite" />
                                                            <HeaderStyle BackColor="Tan" Font-Bold="True" />
                                                            <AlternatingRowStyle BackColor="PaleGoldenrod" />
                                                        </asp:GridView>
                                                        <asp:ObjectDataSource ID="ODS_For_gvQuestion" runat="server" SelectMethod="Trips_ListQuestionnaire"
                                                            TypeName="insta.CRM_Insta"></asp:ObjectDataSource>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align: left">
                                                        <cc1:TabContainer ID="TabContainer1" runat="server" ActiveTabIndex="0">
                                                            <cc1:TabPanel ID="TabPanel1" runat="server" HeaderText="TabPanel1">
                                                                <HeaderTemplate>
                                                                    &nbsp;Suggestions
                                                                </HeaderTemplate>
                                                                <ContentTemplate>
                                                                    <asp:TextBox ID="TextBox2" runat="server" Columns="83" TextMode="MultiLine"></asp:TextBox>&nbsp;
                                                                </ContentTemplate>
                                                            </cc1:TabPanel>
                                                            <cc1:TabPanel ID="TabPanel2" runat="server" HeaderText="TabPanel2">
                                                                <HeaderTemplate>
                                                                    Complaints
                                                                </HeaderTemplate>
                                                                <ContentTemplate>
                                                                    <table width="100%">
                                                                        <tr>
                                                                            <td>
                                                                                Complaint Type :</td>
                                                                            <td>
                                                                                <asp:DropDownList ID="ddlComplaint" runat="server" DataSourceID="ODS_For_ddlComplaint"
                                                                                    DataTextField="Description" DataValueField="EntityValue">
                                                                                </asp:DropDownList>
                                                                                <asp:ObjectDataSource ID="ODS_For_ddlComplaint" runat="server" SelectMethod="PopulateDropDownBox"
                                                                                    TypeName="CRM">
                                                                                    <SelectParameters>
                                                                                        <asp:Parameter DefaultValue="2" Name="TableID" Type="Int32" />
                                                                                    </SelectParameters>
                                                                                </asp:ObjectDataSource>
                                                                            </td>
                                                                            <td>
                                                                                Description :</td>
                                                                            <td>
                                                                                <asp:TextBox ID="txtCompDesc" runat="server" Columns="30" Rows="3" TextMode="MultiLine"></asp:TextBox>
                                                                            </td>
                                                                            <td>
                                                                            </td>
                                                                            <td>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="4">
                                                                                &nbsp;</td>
                                                                            <td>
                                                                            </td>
                                                                            <td>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </ContentTemplate>
                                                            </cc1:TabPanel>
                                                        </cc1:TabContainer></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align: left">
                                                        <cc1:ModalPopupExtender ID="MdlPopupExt" runat="server" BehaviorID="mdlPopup" TargetControlID="div"
                                                            PopupControlID="div" OkControlID="btnOk" OnOkScript="okClick();" CancelControlID="btnNo"
                                                            OnCancelScript="cancelClick();" BackgroundCssClass="modalBackground" DynamicServicePath=""
                                                            Enabled="True">
                                                        </cc1:ModalPopupExtender>
                                                        <div id="div" runat="server" align="center" class="confirm" style="border-style: outset;
                                                            display: none; background-color: #F8F9FB;">
                                                            <img align="absMiddle" alt="COR" src="../App_Images/COR.jpg" /><br />
                                                            <br />
                                                            <span style="font-family: Tahoma"><span style="font-size: 9pt"><b>Do you want to continue
                                                                with next call ...</b><br />
                                                            </span></span>
                                                            <br />
                                                            <asp:ImageButton ID="btnOk" runat="server" ImageUrl="~/App_Images/BtnOK.gif" />
                                                            <asp:ImageButton ID="btnNo" runat="server" ImageUrl="~/App_Images/BtnCancel.gif" />
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="center" style="text-align: center">
                                                        <asp:Button ID="btnSaveQ" OnClientClick="showConfirm(this); return false;" runat="server"
                                                            Text="Save" ForeColor="#C00000" OnClick="btnSaveQ_Click" Width="67px" /></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </td>
        </tr>
    </table>
</asp:Content>
