﻿

.TableStyle 
{
	background-color:Tan;
	margin-left: 100px;
	border-style:ridge; 
	font-family:Verdana;
	font-size:10px;
	width:200px;
}

.DefaultRow
{
	background-color:Tan;
	border-width:5px;
	border-color: Red;
}


.HighlightRow 
{
	background-color:Yellow;
}
