﻿body {
}
.TmsClassic
{
border-right: #cccc99 1px solid;
border-top: #cccc99 1px solid; 
font-size: 10pt; 
border-left: #cccc99 1px solid;
border-bottom: #cccc99 1px solid; 
font-family: Tahoma
}
.TmsClassic_AlignLeft
{
border-right: #cccc99 1px solid;
border-top: #cccc99 1px solid; 
font-size: 10pt; 
border-left: #cccc99 1px solid;
border-bottom: #cccc99 1px solid; 
font-family: Tahoma;
text-align:left

}
.LegendClassic
{
border-right: silver 1px solid;
border-top: silver 1px solid;
font-size: 11pt;
border-left: silver 1px solid; 
color: #990000;
border-bottom: silver 1px solid;
font-family: Arial	
}

.FieldsetClassic
{
	border-right: olive thin solid; 
	border-top: olive thin solid; 
	border-left: olive thin solid; width: 90%; 
	border-bottom: olive thin solid; 
	font-size: 9pt; 
	font-family: Tahoma;
}
.FieldsetClassic100
{
	border-right: olive thin solid; 
	border-top: olive thin solid; 
	border-left: olive thin solid; width: 100%; 
	border-bottom: olive thin solid; 
	font-size: 9pt; 
	font-family: Tahoma;
}

.TmsClassic_NoBorder
{
font-size: 10pt; 
font-family: Tahoma
}

.TmsClassic_NoBorder_Back
{
font-size: 10pt; 
font-family: Tahoma;
background-color: #FFF8DC;
}
.TmsClassic_LeftH
{
font-family: Tahoma;
font-size: 10pt;
font-weight: bold; 
background-color: #d2b48c;
color: white;
text-align:left

}

.TmsClassic_CentreH
{
font-family: Tahoma;
font-size: 10pt;
font-weight: bold; 
background-color: #d2b48c;
color: white;
text-align:center;

}
.Messages
{
FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #3399ff
}

.modalBackground 
{
            background-color:Gray;
            filter:alpha(opacity=70);
            opacity:0.7;
}

.confirm
{
 background-color:White;
 padding:10px;
 width:370px;
}

.MainTableSolid
{
BORDER-RIGHT: #cccc99 thin solid;
BORDER-TOP: #cccc99 thin solid;
BORDER-LEFT: #cccc99 thin solid; 
WIDTH: 100%; 
BORDER-BOTTOM:#cccc99 thin solid;
}

.MainTableSleek
{
BORDER-RIGHT: #cccc99 1px solid;
BORDER-TOP: #cccc99 1px solid; 
FONT-SIZE: 9pt; 
BORDER-LEFT: #cccc99 1px solid; 
BORDER-BOTTOM: #cccc99 1px solid;
FONT-FAMILY: Tahoma;
WIDTH: 100%; 

}

.SmallTableSleek
{
BORDER-RIGHT: #cccc99 1px solid;
BORDER-TOP: #cccc99 1px solid; 
FONT-SIZE: 9pt; 
BORDER-LEFT: #cccc99 1px solid; 
BORDER-BOTTOM: #cccc99 1px solid;
FONT-FAMILY: Tahoma;
WIDTH: 60%; 

}

.accordionHeader
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #d2b48c;
	font-family: Tahoma,Arial,Sans-Serif;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

#master_content .accordionHeader a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

#master_content .accordionHeader a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionHeaderSelected
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #a0522d;
	font-family: Tahoma,Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

#master_content .accordionHeaderSelected a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

#master_content .accordionHeaderSelected a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionContent
{
    background-color: #fff8dc;
    border: 1px dashed #2F4F4F;
    border-top: none;
    padding: 5px;
    padding-top: 10px;
}

.Table{font-family:Tahoma;
font-size:10pt;
font-weight:normal;
padding:2px;
border:	#cccc99 thin solid}

.tdContent{font-family:Tahoma;
	font-size:10pt;
	font-weight:bold;
	padding:2px;
	color:Black}
	
.lblContent{font-family:Tahoma;
	font-size:10pt;
	font-weight:normal;
	padding:2px;
	color:Black}	

